.container {
    width: 943px;
    margin: 0 auto;
}

.order {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    background-image: url(/img/bg/order.png);
    background-size: cover;
}

.order__title {
    padding-top: 138px;
    margin-bottom: 44px;
}

.title-centered {
    text-align: center;
}

.form {
    box-sizing: border-box;
}

.form__order {
    display: flex;
}

.form__col {
    width: 50%;
    margin-right: 20px;
}

.form__row {
    display: flex;
    margin-bottom: 39px;
}

.form__label:first-child {
    margin-left: 0;
}

.form__label-title {
    @include ubuntu();
    color: $white;
    font-size: 14px;
    line-height: 1;
    margin-left: 1px;
    margin-bottom: 9px;
}


