.thebest {
    background: url(./img/bg/thebest.jpg) center center/cover no-repeat;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.container {
    width: 943px;
    margin: 0 auto;
}

.title-centered {
    text-align: center;
}

.title-color-black {
    color: $black;
}

.thebest__list {
    display: flex;
    padding-top: 55px;
    padding-right: 60px;
}

.thebest__title:nth-child(1) {
    padding-left: 0;
}

.thebest__svg {
    padding-left: 30%;
}

.hand {
    padding-left: 15%;
}

.thebest__item {
    @include lifehack();
    text-align: center;
    color: $black;
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;
}

.thebest__text {
    @include ubuntu();
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $black;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.02px;
    padding-top: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
