.thebest {
    background: url(../img/bg/thebest.jpg) center center/cover no-repeat;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.title_centered {
    text-align: center;
}

.title_color_black {
    color: $black;
}

.thebest__list {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 5%;
}

.thebest__title {
    width: 33.3%;
    text-align: center;
}

.thebest__title:first-child {
    padding-left: 0;
}


.thebest__item {
    @include lifehack();
    color: $black;
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;

}

.thebest__text {
    @include ubuntu();
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $black;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.02px;
    padding-top: 10px;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
